# Base URL of the Beaker server (without trailing slash!)
HUB_URL = "http://{{ beaker_base_ip }}/bkr"

# Hub authentication method
AUTH_METHOD = "password"

# Username and password
USERNAME = "{{ beaker_admin_login }}"
PASSWORD = "{{ beaker_admin_password }}"
