dhcp-range={{ beaker_lab.dhcp_start }},{{ beaker_lab.dhcp_end }},{{ beaker_lab.dhcp_netmask }}
dhcp-ignore=tag:!known
dhcp-option=option:router,{{ beaker_lab.router }}

# Use this server as a time and name server for machines in the lab
dhcp-option=option:dns-server,0.0.0.0
dhcp-option=option:ntp-server,0.0.0.0

enable-tftp
tftp-root=/var/lib/tftpboot
dhcp-boot=pxelinux.0

# Use a combination of /etc/ethers & /etc/hosts instead of this ?
{% for host in beaker_lab.systems %}
dhcp-host={{ host.mac_address }},{{ host.fqdn }},{{ host.ip_address }}
{% endfor %}

# vim: set ft=dnsmasq:
